{
  "android": {
    "keystore": {
      "keystorePath": "android/keystore/pixap-upload.jks",
      "keystorePassword": "YOUR_KEYSTORE_PASSWORD",
      "keyAlias": "pixap",
      "keyPassword": "YOUR_KEY_PASSWORD"
    }
  }
}
